#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video {
    display: flex;
    width: calc(50% - 0.4%);
    background-color: #f0f0f0;
    margin: 0.1%;
    border-radius: 10px;
}

.container-thumbnail {
    padding: 5px;
}

.thumbnail {
    border-radius: 5px;
}

a {
    text-decoration: none;
}

/*aタグにつく下線をなくす*/

.title {
    font-weight: bold;
    font-size: large;
    margin: 10px;
    color: black;
}

.channel {
    color: gray;
    margin: 10px;
}

.category {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.time {
    margin: 10px;
}

.input-search {
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    height: 4vh;
}

form input {
    padding: 15px;
}

select {
    padding: 5px;
}

input[type="date"] {
    width: 8vw;
}

#btn-search {
    margin: 10px;
    height: 4vh;
    background-color: white;
    border-width: 0;
}

#btn-search img {
    height: 100%;
}

input[type="image"] {
    margin-top: 10px;
    height: 4vh;
}