<link rel="stylesheet" href="static/style.css">

<div style="display:flex;justify-content: center;">
  <form method="get" action="/search-filter" id="form-filter" {% if mode=='word' %}style="display:none;" {% endif %}>
    <label>Title <input type="text" name="title" value="{{ request.args.get('title','') }}" class="input-search"></label>
    <label>
      Category <select name="category" class="input-search">
        {% for category in categories %}
        <option value="{{ category }}" {% if category==request.args.get('category','All') %}selected{% endif %}>
          {{ category }}
        </option>
        {% endfor %}
      </select>
    </label>
    <label>
      Channel <input type="text" name="channel" value="{{ request.args.get('channel','') }}" class="input-search">
    </label>
    <label>Since <input type="date" name="since" value="{{ request.args.get('since','') }}" class="input-search"></label>
    <label>Until <input type="date" name="until" value="{{ request.args.get('until','') }}" class="input-search"> </label>
    <label>
      Order <select name="order" class="input-search">
        <option value="ASC" {% if 'ASC'==request.args.get('order','DESC') %}selected{% endif %}>
          ASC
        </option>
        <option value="DESC" {% if 'DESC'==request.args.get('order','DESC') %}selected{% endif %}>
          DESC
        </option>
      </select>
    </label>
  </form>

  <form method="get" action="/search-word" id="form-word" {% if mode=='filter' %}style="display:none;" {% endif %}>
    <label>Content <input type="text" name="content" value="{{ request.args.get('content','') }}" class="input-search"></label>
  </form>

  <button type="submit" form={% if mode=='filter' %}"form-filter"{% else %}"form-word"{% endif %}
    id="btn-search"><img src="static/imgs/search.png"></button>

  <input type="image" src="static/imgs/word.png" id="set-word" style="opacity:{% if mode=='filter' %}0.2{% else %}1.0{% endif %};">
  <input type="image" src="static/imgs/filter.png" id="set-filter" style="opacity:{% if mode=='word' %}0.2{% else %}1.0{% endif %};">
</div>

<div id="videos">
  {% for row,color in rows_colors %}
  <div class="video">
    <div class="container-thumbnail">
      <a href="https://www.youtube.com/watch?v={{ row['id_video'] }}>">
        <img src="{{ row['thumbnail_url'] }}" alt="thumbnail" class="thumbnail">
      </a>
    </div>

    <div>
      <a href="https://www.youtube.com/watch?v={{ row['id_video'] }}">
        <div class="title">{{ row["title"] }}</div>
      </a>
      <div style="display: flex">
        <a href="https://www.youtube.com/channel/{{ row['id_channel'] }}">
          <div class="channel">{{ row["channel"] }}</div>
        </a>
        <div class="category" style="background-color: {{ color }}">{{ row["category"] }}</div>
        <div class="time">{{ row["time_watch"] }}</div>
      </div>
    </div>

  </div>
  {% endfor %}
</div>

<script src="static/main.js"></script>